<!-- wp:group {"style":{"spacing":{"padding":{"top":"20px","right":"20px","bottom":"20px","left":"20px"}}},"layout":{"contentSize":"760px"}} -->
<div class="wp-block-group" style="padding-top:20px;padding-right:20px;padding-bottom:20px;padding-left:20px"><!-- wp:group {"style":{"border":{"style":"solid","width":"1px","radius":"8px"},"spacing":{"padding":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}}},"borderColor":"cyan-bluish-gray","backgroundColor":"white"} -->
<div class="wp-block-group has-border-color has-cyan-bluish-gray-border-color has-white-background-color has-background" style="border-radius:8px;border-style:solid;border-width:1px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px"><!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:columns {"style":{"spacing":{"blockGap":"20px"}}} -->
<div class="wp-block-columns"><!-- wp:column {"width":"70%"} -->
<div class="wp-block-column" style="flex-basis:70%"><!-- wp:group {"style":{"spacing":{"padding":{"top":"0px","right":"20px","bottom":"0px","left":"20px"}}}} -->
<div class="wp-block-group" style="padding-top:0px;padding-right:20px;padding-bottom:0px;padding-left:20px"><!-- wp:query {"queryId":1,"query":{"offset":0,"postType":"post","categoryIds":[],"tagIds":[],"order":"desc","orderBy":"date","author":"","search":"","sticky":"","perPage":10},"displayLayout":{"type":"list"}} -->
<div class="wp-block-query"><!-- wp:post-template -->
<!-- wp:post-title {"isLink":true} /-->

<!-- wp:post-date {"style":{"color":{"text":"#777777"},"typography":{"fontSize":"11px"}}} /-->

<!-- wp:post-featured-image /-->

<!-- wp:post-excerpt /-->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"color":{"text":"#777777"},"typography":{"fontSize":"12px"}}} -->
<p class="has-text-color" style="color:#777777;font-size:12px">Tags:</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":19} -->
<div style="height:19px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-terms {"term":"post_tag","style":{"typography":{"fontSize":"12px"}}} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"type":"flex","allowOrientation":false,"justifyContent":"center"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"style":{"color":{"text":"#777777"},"typography":{"fontSize":"12px"}}} -->
<p class="has-text-color" style="color:#777777;font-size:12px">Posted in:</p>
<!-- /wp:paragraph -->

<!-- wp:spacer {"height":18} -->
<div style="height:18px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:post-terms {"term":"category"} /-->

<!-- wp:paragraph {"style":{"typography":{"fontSize":"11px"},"color":{"text":"#777777"}}} -->
<p class="has-text-color" style="color:#777777;font-size:11px">| Comments </p>
<!-- /wp:paragraph -->

<!-- wp:post-comments-count /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":40} -->
<div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- /wp:post-template --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"30%"} -->
<div class="wp-block-column" style="flex-basis:30%"><!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size" id="categories">Categories</h2>
<!-- /wp:heading -->

<!-- wp:categories /-->

<!-- wp:heading {"fontSize":"small"} -->
<h2 class="has-small-font-size" id="meta">Meta</h2>
<!-- /wp:heading -->

<!-- wp:list -->
<ul><li><a href="/wp-login.php">Log in</a></li><li><a href="/?feed=rss2">Entries feed</a></li><li><a href="/?feed=comments-rss2">Comments feed</a></li><li><a rel="noreferrer noopener" href="https://wordpress.org/" target="_blank">WordPress.org</a></li></ul>
<!-- /wp:list --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:template-part {"slug":"footer"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->